{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "port": 443,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "${UUID}",
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "none"
      },

      "streamSettings": {

        "network": "tcp",

        "security": "reality",

        "realitySettings": {
          "show": false,
          
          "target": "${TARGET}",
          "xver": 0,
          "serverNames": [
            "${SERVER_NAME}"
          ],

          "privateKey": "${PRIVATE_KEY}",

          "shortIds": [
            "${SHORT_ID}"
          ],
          "fallbacks": [
          {
            "dest": 8080
          }
          ]
        }
      }
    }
  ],

  "outbounds": [
    {
      "protocol": "freedom"
    }
  ]
}